.btn-delete {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.search-stamp {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.changelog {
  position: absolute !important;
  left: 5px !important;
  top: 5px !important;
}
.footerinfo {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 5px;
  padding-bottom: 0px;
}
.tag {
  margin: 1px;
}
.misccontact {
  /*width: 50%;*/
  max-width: 90%;
  /*margin: auto;*/
}
.volunteerscontact {
  max-width: 90%;
  margin: auto;
}
.showsingle {
  max-width: 90%;
  margin: auto;
}
.allcontacts {
  max-width: 90%;
  margin: auto;
}
.allshows {
  max-width: 90%;
  margin: auto;
}
.dropdown-submenu {
    position: relative;
}

.searchui {
  //max-width: 70%;
  margin:auto;
  //position: absolute;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;

}

body {
  padding-top: 30px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#ajouter-nouveau-spectacle {
  padding-left: 30px;
  margin-top: 5px;
}
.adminuse {
  background-color: khaki !important;
}
.leftpad {
  padding-left: 15px;
}
.user-list {
  padding-top: 20px;
}
.delete-user-warning {
  color: red;
}
.new-show-form {
  width: 70%;
  margin: auto;
}

.img-poster {
  //display: block;
  //border: 1px solid black;
  max-width: 550;
  height: auto;
}
.cost-left {
  margin-left: 0;
}
.cost-right {
  margin-right: 0;
}
.datetimeline {
  margin-bottom: 2px;
}
.itemline {
  margin-bottom: 2px !important;
  padding: 0 !important;
}
.chkDonated {
  margin-top: 5px;
}
.itemCost {
  padding-left: 0px;
  padding-right: 0px;
}
#login-well {
  max-width: 300px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
.login-container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
#login-submit {
  width: 260px;
  margin-top: 10px;
}
.login-text {
  width: 260px;
}
.login-error {
  position: relative;
  top: 155px;
  color: red;
  text-overflow: none;
  text-align: center;
}
.cma-logo {
  width: 480px;
  height: 227px;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.cma-brand {
  width: 101px;
  height: 33px;
}
.navbar-brand {
  padding-top: 7px;
}
.tbl-responsive {
  white-space: normal !important;
  word-wrap: break-word;
}
.user-mgmt-table {
  td, th {
    border: 1px solid #999;
    padding: 5px;
  }
  th {
    text-align: center;
    background: #ccc;
  }
  .user-username {
    width: 10%;
  }
  .user-fullname {
    width: 20%;
  }
  .user-phone {
    width: 15%
  }
  .user-email {
    width: 20%
  }
  .user-perms {
    width: 35%;
  }
  width: 90%;
  margin: 0 auto;
  table-layout: fixed;
  background: white;
}
.perms-list-table {
  td, th {
    border: 1px solid #999;
    padding: 5px;
  }
  th {
    text-align: center;
    background: #ccc;
  }
  .table-section-header {
    border: 0px;
    background: #fff;
  }
  width: 90%;
  margin: 0 auto;
  table-layout: fixed;
  background: white;
}
.tbl-search-results {
  td, th {
    border: 1px solid #999;
    padding: 5px;
  }
  th {
    text-align: center;
    background: #ccc;
  }
  .table-section-header {
    border: 0px;
    background: #fff;
  }
  .result-name {
    width: 20%;
  }
  .result-city {
    width: 15%;
  }
  .result-email {
    width: 20%;
  }
  .result-phone {
    width: 10%;
  }
  .result-type {
    width: 10%;
  }
  .result-tag {
    width: 20%;
  }
  .result-tools {
    width: 5%;
  }
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  background: white;
}