<template name='AllContacts'>
    <div class='allcontacts center-block'>
        <form class='searchform'>
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <button type='button' class='btn btn-default' id='btnReturnDatabase'>{{_ "admin.perms.database.database"}}</button>
                    </p>
                </div>
                <div class='col-md-6'>
                    <div class='row text-right'>
                        <p>
                            {{#if currentUser.profile.permissions.database.volunteers.create}}
                                <button type='button' class='btn btn-primary btnNewVolunteer' id='btnNewVolunteer' name='btnNewVolunteer' value='newVolunteer'><i class='fa fa-plus'></i> {{_ "btnNewVolunteer"}}</button>
                            {{/if}}
                            {{#if currentUser.profile.permissions.database.misc.create}}
                                <button type='button' class='btn btn-primary btnNewMisc' id='btnNewMisc' name='btnNewMisc' value='newMisc'><i class='fa fa-plus'></i> {{_ "btnNewMisc"}}</button>
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <div class='row searchbar'>
                    <p>
                        <div class='input-group'>
                            <span class='input-group-addon'><span class='glyphicon glyphicon-search'></span></span>
                            <input type='text' class='form-control' id='dbSearch' name='dbSearch' placeholder='Search database by contact name... Press ESC to clear'
                                autofocus />
                            <div class='input-group-btn'>
                                <button type='submit' class='btn btn-primary' id='btnSearch' name='btnSearch'>Search</button>
                            </div>
                        </div>
                    </p>
                </div>
                <!-- Disabling Advanced Search for now
                <div class='row advancedsearch'>
                    <div class='panel panel-default'>
                        <div class='panel-heading' data-toggle="collapse" href='#advancedPanel'>
                            <a class='panel-title' data-toggle="collapse" href='#advancedPanel'><i>Advanced Search</i></a>
                        </div>
                        <div id='advancedPanel' class='panel-collapse collapse'>
                            <div class='panel-body'>
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <p><b>Volunteers:</b></p>
                                    </div>
                                    <div class='col-md-6'>
                                        <p><b>Misc Contacts Potential Items:</b></p>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <label class='control-label'><input type='checkbox' id='contactPositionActor' name='contactPositionActor'/> Actor</label><br/>
                                        <label class='control-label'><input type='checkbox' id='contactPositionTechCrew' name='contactPositionTechCrew'/> Tech Crew</label><br/>
                                        <label class='control-label'><input type='checkbox' id='contactPositionConstruction' name='contactPositionConstruction'/> Construction</label><br/>
                                        <label class='control-label'><input type='checkbox' id='contactPositionDesign' name='contactPositionDesign'/> Design</label>
                                    </div>
                                    <div class='col-md-3'>
                                        <label class='control-label'><input type='checkbox' id='potentialCostumes' name='potentialCostumes'/> {{_ "db.costumes"}}</label><br/>
                                        <label class='control-label'><input type='checkbox' id='potentialProps' name='potentialProps'/> {{_ "db.props"}}</label><br/>
                                        <label class='control-label'><input type='checkbox' id='potentialBeauty' name='potentialBeauty'/> {{_ "db.beauty"}}</label><br/>
                                        <label class='control-label'><input type='checkbox' id='potentialSetPieces' name='potentialSetPieces'/> {{_ "db.setPieces"}}</label><br/>
                                    </div>
                                    <div class='col-md-3'>
                                        <label class='control-label'><input type='checkbox' id='potentialTech' name='potentialTech'/> {{_ "db.tech"}}</label><br/>
                                        <label class='control-label'><input type='checkbox' id='potentialCash' name='potentialCash'/> {{_ "db.cashDonation"}}</label><br/>
                                        <label class='control-label'><input type='checkbox' id='potentialAuctions' name='potentialAuctions'/> {{_ "db.auctions"}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </form>

        {{#if searching}} {{> spinner}} {{/if}} 
        
        {{#unless foundResults}}
        <div class='background-logo'><img class='search-stamp' src='/img/rlt-stamp-1-5x.png' /></div>
        {{/unless}}

        {{#if foundResults}}
        <div class='searchResults text-center'>
            <table class='tbl-search-results'>
                <thead>
                    <tr>
                        <th class='result-name text-center tbl-responsive'>{{_ "db.contactName"}}</th>
                        <th class="result-city text-center tbl-responsive">{{_ "db.city"}}</th>
                        <th class='result-email text-center tbl-responsive'>{{_ "db.email"}}</th>
                        <th class='result-phone text-center tbl-responsive'>{{_ "db.phone1"}}</th>
                        <th class="result-type text-center tbl-responsive">Type of Contact</th>
                        <th class='result-tag text-center tbl-responsive'>Tags</th>
                        <th class='result-tools text-center tbl-responsive'>Tools</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td class='tbl-responsive'><a href='/database/{{dbType}}/{{entryId}}'>{{name}}</a></td>
                        <td class='tbl-responsive'>{{city}}</td>
                        <td class='tbl-responsive'>{{email}}</td>
                        <td class='tbl-responsive'>{{phonenumber phone1}}</td>
                        <td class='tbl-responsive'>{{dbType}}</td>
                        <td class='tbl-responsive'>
                            {{#if volunteerPosition.posActor}}<span class='label label-info'>Actor</span>{{/if}}
                            {{#if volunteerPosition.posTechCrew}}<span class='label label-primary'>Tech Crew</span>{{/if}}
                            {{#if volunteerPosition.posConstruction}}<span class='label label-warning'>Construction</span>{{/if}}
                            {{#if volunteerPosition.posDesign}}<span class='label label-danger'>Prod. Staff</span>{{/if}}
                            {{#if potentialItems.costumes}}<span class='label label-default'>Costumes</span>{{/if}}
                            {{#if potentialItems.props}}<span class='label label-default'>Props</span>{{/if}}
                            {{#if potentialItems.beautyProducts}}<span class='label label-default'>Beauty Products</span>{{/if}}
                            {{#if potentialItems.setPieces}}<span class='label label-default'>Set Pieces</span>{{/if}}
                            {{#if potentialItems.techEquipment}}<span class='label label-default'>Tech Equipment</span>{{/if}}
                            {{#if potentialItems.cashDonation}}<span class='label label-default'>Cash Donations</span>{{/if}}
                            {{#if potentialItems.auctionItems}}<span class='label label-default'>Auction Items</span>{{/if}}
                        </td>
                        <td>
                            <button class='btn-delete tbl-responsive btn btn-default btn-xs btnPre {{isDisabled dbType}}' id='{{_id}}'><i class="glyphicon glyphicon-remove"></i> <span class='btn-delete' id='span{{_id}}'>{{_ "admin.btnDelete"}}</span></button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}

    </div>
</template>