<template name='DeleteContact'>
  <div class='modal-deletecontact modal fade' role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <form class='deletecontact' autocomplete='false'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>{{_ "admin.delete.header"}}</h4>
          </div>
          <div class='modal-body'>
            <p>Delete this contact?</p>
            <h4>{{contact.name}}</h4>
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-danger' id='btn-deletecontact-apply'>{{_ "btnAccept"}}</button>
            <button type='cancel' class='btn btn-default' id='btn-deleteuser-cancel' data-dismiss='modal'>{{_ "btnCancel"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
