<template name='Headshot'>
  <div class="modal-headshot modal fade" id='modalHeadshot' role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="uploadheadshot">
          <div class="modal-header">
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>{{_ "db.headshot"}}</h4>
          </div>
          <div class="modal-body">
            <div class='input-group'>
              <label class='input-group-btn'>
                <span class='btn btn-primary'><i class='fa fa-folder-open'></i> {{_ "btnSelect"}}</span>
                <input type='file' accept='.png,.jpg,.jpeg,.bmp,.gif' style='display: none;' />
              </label>
              <input type='text' id='imageName' value='{{imageName}}' class='form-control' readonly />
              <span class='input-group-btn'><button type='submit' id='btnHeadshotUpload' class='btn {{headshotUploadDone 'btn'}}'><i id='iHeadshotUpload' class='fa {{headshotUploadDone 'i'}}'></i> {{_ "btnUpload"}}</button></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type='cancel' class='btn btn-default' id='btnHeadshotClose'>{{_ "btnClose"}}</button>
            <button type='button' class='btn btn-warning' id='btnClearPicture'>Clear Picture</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
