<template name="MiscContactsSingle">
  {{#if showSpinner}}
    {{> spinner}}
  {{/if}}
  
  <div class='misccontact center-block'>
    <form class='misccontactform'>
      <div class='row'>
        <div class='col-md-6'>
          <button type='button' class='btn btn-default' id='btnReturnMisc' name='btnReturnMisc'>&lt; Misc Contacts</button>
        </div>
        <div class='col-md-6 text-right'>
          <p>
            <button type='submit' class="btn btn-primary btnContactSaveNew btnControl {{isDisabled "save"}}" name='btnAction' value='saveNew'>{{_ "btnSaveNew"}}</button>
            <button type='submit' class="btn btn-success btnContactSave btnControl {{isDisabled "save"}}" name='btnAction' value='save'>{{_ "btnSave"}}</button>
            <button type='reset' class="btn btn-warning btnContactReset {{isDisabled "save"}}">{{_ "btnReset"}}</button>
            <button type='submit' class='btn btn-danger btnContactDelete btnPre btnControl {{isDisabled "delete"}}' name='btnDelete' value='delete'>{{_ "btnDelete"}}</button>
          </p>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-12'>
            <p>
              <label for="contactName" class='control-label'>{{_ "db.contactName"}}</label>
              <input type="text" class='form-control' name="contactName" value="{{currentEntry.name}}" />
            </p>
            <p>
              <label for="contactTitle" class='control-label'>{{_ "db.title"}}</label>
              <input type="text" class='form-control' name="contactTitle" value="{{currentEntry.title}}">
            </p>
            <p>
              <label for="contactCompany" class='control-label'>{{_ "db.companyName"}}</label>
              <input type="text" class='form-control' name="contactCompany" value="{{currentEntry.companyName}}">
            </p>
            <p>
              <div class='row'>
                <div class='form-group'>
                  <div class=' col-md-6'>
                    <label for="contactAddress" class='control-label'>{{_ "db.address"}}</label>
                    <input type="text" class='form-control' name="contactAddress" value="{{currentEntry.address1}}">
                  </div>
                  <div class=' col-md-6'>
                    <label for="contactAddress2" class='control-label'>{{_ "db.address2"}}</label>
                    <input type="text" class='form-control' name="contactAddress2" value="{{currentEntry.address2}}">
                  </div>
                </div>
              </div>
            </p>
            <p>
              <div class='row'>
                <div class='form-group'>
                  <div class=' col-md-6'>
                    <label for="contactCity" class='control-label'>{{_ "db.city"}}</label>
                    <input type="text" class='form-control' name="contactCity" value="{{currentEntry.city}}">
                  </div>
                  <div class=' col-md-3'>
                    <label for="contactState" class='control-label'>{{_ "db.state"}}</label>
                    <input type="text" class='form-control' name="contactState" value="{{currentEntry.state}}">
                  </div>
                  <div class=' col-md-3'>
                    <label for="contactPostalCode" class='control-label'>{{_ "db.postalCode"}}</label>
                    <input type="text" class='form-control' name="contactPostalCode" value="{{currentEntry.postalCode}}">
                  </div>
                </div>
              </div>
            </p>
            <p>
              <div class='row'>
                <div class='form-group'>
                  <div class=' col-md-6'>
                    <label for="contactPhone1" class='control-label'>{{_ "db.phone1"}}</label>
                    <input type="text" class='form-control' name="contactPhone1" value="{{currentEntry.phone1}}">
                  </div>
                  <div class=' col-md-6'>
                    <label for="contactPhone2" class='control-label'>{{_ "db.phone2"}}</label>
                    <input type="text" class='form-control' name="contactPhone2" value="{{currentEntry.phone2}}">
                  </div>
                </div>
              </div>
            </p>
            <p>
              <label for="contactEmail" class='control-label'>{{_ "db.email"}}</label>
              <input type="email" class='form-control' name="contactEmail" value="{{currentEntry.email}}" />
            </p>
            <p>
              <label for="contactWebsite" class='control-label'>{{_ "db.website"}}</label>
              <input type="text" class='form-control' name="contactWebsite" value="{{currentEntry.website}}" />
            </p>
            <p>
              <label for="contactHours" class='control-label'>{{_ "db.contactHours"}}</label>
              <input type="text" class='form-control' name="contactHours" value="{{currentEntry.contactHours}}" />
            </p>
            <p>
              <label for='potentials' class='control-label'>Potential Items</label>
              <div name='potentials'>
                <div class='row'>
                  <div class='col-md-3'>
                    <label class='control-label'><input type='checkbox' id='potentialCostumes' name='potentialCostumes' {{potentialItems 'costumes'}} /> {{_ "db.costumes"}}</label>
                  </div>
                  <div class='col-md-3'>
                    <label class='control-label'><input type='checkbox' id='potentialProps' name='potentialProps' {{potentialItems 'props'}} /> {{_ "db.props"}}</label>
                  </div>
                  <div class='col-md-3'>
                    <label class='control-label'><input type='checkbox' id='potentialBeauty' name='potentialBeauty' {{potentialItems 'beauty'}} /> {{_ "db.beauty"}}</label>
                  </div>
                  <div class='col-md-3'>
                    <label class='control-label'><input type='checkbox' id='potentialSetPieces' name='potentialSetPieces' {{potentialItems 'setpieces'}} /> {{_ "db.setPieces"}}</label>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>
                    <label class='control-label'><input type='checkbox' id='potentialTech' name='potentialTech' {{potentialItems 'tech'}} /> {{_ "db.tech"}}</label>
                  </div>
                  <div class='col-md-3'>
                    <label class='control-label'><input type='checkbox' id='potentialCash' name='potentialCash' {{potentialItems 'cash'}} /> {{_ "db.cashDonation"}}</label>
                  </div>
                  <div class='col-md-3'>
                    <label class='control-label'><input type='checkbox' id='potentialAuctions' name='potentialAuctions' {{potentialItems 'auctions'}} /> {{_ "db.auctions"}}</label>
                  </div>
                </div>
              </div>
            </p>
            <p>
              <label for='contactMemo' class='control-label'>{{_ "db.memo"}}</label>
              <textarea class='form-control' name='contactMemo' value='{{currentEntry.notes}}' rows='3'></textarea>
            </p>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='row'>
        <p>
          <div class='form-group' name='itemList'>
            <div class='row'>
              <div class='col-md-8'>
                <label for='itemList'>{{_ "db.itemList"}}</label>
              </div>
              <div class='col-md-2'>
                <label for='itemList'>{{_ "db.cost"}}</label>
              </div>
              <div class='col-md-2 text-right'>
                <button class='itemListPlus btn btn-success btn-xs'><i class='fa fa-plus'></i></button>
                <button class='itemListMinus btn btn-danger btn-xs' {{itemListMinusDisabled}}><i class='fa fa-minus'></i></button>
              </div>
            </div>
            {{#each loopCount getItemListNumber}}
              {{> MiscContactsItemList}}
            {{/each}}
          </div>
        </p>
        </div>
      </div>
    </form>
  </div>
</template>
