<template name="MiscContactsItemList">
  <div class='row itemline'>
    <div class='form-group'>
      <div class='col-md-8'>
        <div class='input-group'>
          <input type='text' name='listItem{{this}}' id='listItem{{this}}' class='form-control' value="{{item 'name' this}}" />
          <div class='input-group-btn'>
            <button type='button' name='btnItemType{{this}}' id='btnItemType{{this}}' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>{{item "type" this}} <span class='caret'></span></button>
            <ul class='dropdown-menu dropdown-menu-right'>
              <li><a href='#' class='typeSelector' id='typeCostumes' name='typeCostumes'>{{_ "db.costumes"}}</a></li>
              <li><a href='#' class='typeSelector' id='typeProps' name='typeProps'>{{_ "db.props"}}</a></li>
              <li><a href='#' class='typeSelector' id='typeBeauty' name='typeBeauty'>{{_ "db.beauty"}}</a></li>
              <li><a href='#' class='typeSelector' id='typeSetPieces' name='typeSetPieces'>{{_ "db.setPieces"}}</a></li>
              <li><a href='#' class='typeSelector' id='typeTech' name='typeTech'>{{_ "db.tech"}}</a></li>
              <li><a href='#' class='typeSelector' id='typeCashDonation' name='typeCashDonation'>{{_ "db.cashDonation"}}</a></li>
              <li><a href='#' class='typeSelector' id='typeAuctions' name='typeAuctions'>{{_ "db.auctions"}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <input type='hidden' name='itemType{{this}}' id='itemType{{this}}' value='{{typeSelected}}' />
      <div class='col-md-2 itemCost'>
        <div class='input-group'>
          <span class='input-group-addon'>$</span>
          <input type='text' class='form-control itemCostInput' name='itemCost{{this}}' id='itemCost{{this}}' value="{{item 'cost' this}}" />
        </div>
      </div>
      <div class='col-md-2'>
        <div class='input-group-btn'>
          <button type='button' name='btnItemSource{{this}}' id='btnItemSource{{this}}' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>{{item "source" this}} <span class='caret'></span></button>
          <ul class='dropdown-menu dropdown-menu-right'>
            <li><a href='#' class='sourceSelector' id='sourceDonate' name='sourceDonate'>{{_ "db.donation"}}</a></li>
            <li><a href='#' class='sourceSelector' id='sourceLend' name='sourceLend'>{{_ "db.lend"}}</a></li>
            <li><a href='#' class='sourceSelector' id='sourceRent' name='sourceRent'>{{_ "db.rent"}}</a></li>
            <li><a href='#' class='sourceSelector' id='sourcePurchase' name='sourcePurchase'>{{_ "db.purchase"}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>