<template name="VolunteersSingle">
  {{#if showSpinner}}
    {{> spinner}}
  {{/if}}
  
  {{#if showForm}}
  {{> Headshot}}
  <div class='volunteerscontact center-block'>
    <form class='volunteersform' autocomplete='off'>
      <div class='row'>
        <div class='col-md-6'>
          <p>
            <button type='button' class='btn btn-default' id='btnReturnVolunteers' name='btnReturnVolunteers'>&lt; Volunteers</button> 
          </p>
        </div>
        <div class='col-md-6'>
          <div class='row text-right'>
          <p>
            <button type='submit' class="btn btn-primary btnContactSaveNew btnControl {{isDisabled "save"}}" name='btnAction' value='saveNew'>{{_ "btnSaveNew"}}</button>
            <button type='submit' class="btn btn-success btnContactSave btnControl {{isDisabled "save"}}" name='btnAction' value='save'>{{_ "btnSave"}}</button>
            <button type='reset' class="btn btn-warning btnContactReset {{isDisabled "save"}}" name='btnReset' value='reset'>{{_ "btnReset"}}</button>
            <button type='submit' class='btn btn-danger btnContactDelete btnPre btnControl {{isDisabled "delete"}}' name='btnDelete' value='delete'>{{_ "btnDelete"}}</button>
          </p>
          </div>
        </div>
      </div>
      {{#if isActor}}
      <div class='col-md-6'>
        <div class='row'>
          <label for='imgHeadshot' class='control-label'>{{_ "db.headshot"}}</label>
          <img class='img img-poster img-responsive' id='imgHeadshot' src="{{getHeadshot}}" alt="" height='550' width='550' />
        </div>
      </div>
      {{/if}}
      <div class='{{headshotColumns}}'>
        <div class='row'>
          <p>
            <label for="contactName" class='control-label'>{{_ "db.contactName"}}</label>
            <input type="text" class='form-control' id='contactName' name="contactName" value="{{currentEntry.name}}" autocomplete='name'/>
          </p>
          <p>
            <div class='row'>
              <div class='form-group'>
                <div class=' col-md-6'>
                  <label for="contactAge" class='control-label'>{{_ "db.age"}}</label>
                  <input type="text" class='form-control' id="contactAge" name="contactAge" value="{{currentEntry.age}}" autocomplete='age'/>
                </div>
                <div class=' col-md-6'>
                  <label class='control-label'>{{_ "db.gender"}}</label><br />
                  <div class='btn-group' data-toggle='buttons'>
                    <label class='btn btn-default' id='contactGenderLabelM'><input type='radio' name='contactGender' id='contactGenderM' value='M' {{gender 'M'}} />{{_ "db.male"}}</label>
                    <label class='btn btn-default' id='contactGenderLabelF'><input type='radio' name='contactGender' id='contactGenderF' value='F' {{gender 'F'}} />{{_ "db.female"}}</label>
                  </div>
                </div>
              </div>
            </div>
          </p>
          <p>
            <div class='row'>
              <div class='form-group'>
                <div class=' col-md-3'>
                  <label for="contactHeight" class='control-label'>{{_ "db.height"}}</label>
                  <div class='input-group'>
                    <input type='text' class='form-control' id='contactHeightFt' name='contactHeightFt' value="{{currentEntry.heightFt}}" autocomplete='false' />
                    <span class='input-group-addon'>{{_ "db.ft"}}</span>
                  </div>
                </div>
                <div class=' col-md-3'>
                  <label for="contactWeight" class='control-label' style="color: white;">Height</label>
                  <div class='input-group'>
                    <input type='text' class='form-control' id='contactHeightIn' name='contactHeightIn' value="{{currentEntry.heightIn}}" autocomplete='false' />
                    <span class='input-group-addon'>{{_ "db.in"}}</span>
                  </div>
                </div>
                <div class=' col-md-3'>
                  <label for="contactWeight" class='control-label'>{{_ "db.weight"}}</label>
                    <input type='text' class='form-control' id = 'contactWeight' name='contactWeight' value="{{currentEntry.weight}}" autocomplete='off' />
                </div>
                <div class=' col-md-3'>
                  <label for="contactHair" class='control-label'>Hair</label>
                    <input type='text' class='form-control' id = 'contactHair' name='contactHair' value="{{currentEntry.hair}}" autocomplete='hair' />
                </div>
              </div>
            </div>
          </p>
          <p>
            <div class='row'>
              <div class='form-group'>
                <div class=' col-md-6'>
                  <label for="contactAddress" class='control-label'>{{_ "db.address"}}</label>
                  <input type="text" class='form-control' id='contactAddress' name="contactAddress" value="{{currentEntry.address1}}" autocomplete='address1' />
                </div>
                <div class=' col-md-6'>
                  <label for="contactAddress2" class='control-label'>{{_ "db.address2"}}</label>
                  <input type="text" class='form-control' id='contactAddress2' name="contactAddress2" value="{{currentEntry.address2}}" autocomplete='address2' />
                </div>
              </div>
            </div>
          </p>
          <p>
            <div class='row'>
              <div class='form-group'>
                <div class=' col-md-6'>
                  <label for="contactCity" class='control-label'>{{_ "db.city"}}</label>
                  <input type="text" class='form-control' id='contactCity' name="contactCity" value="{{currentEntry.city}}" autocomplete='city' />
                </div>
                <div class=' col-md-3'>
                  <label for="contactState" class='control-label'>{{_ "db.state"}}</label>
                  <input type="text" class='form-control' id='contactState' name="contactState" value="{{currentEntry.state}}" autocomplete='state' />
                </div>
                <div class=' col-md-3'>
                  <label for="contactPostalCode" class='control-label'>{{_ "db.postalCode"}}</label>
                  <input type="text" class='form-control' id='contactPostalCode' name="contactPostalCode" value="{{currentEntry.postalCode}}" autocomplete='postalcode' />
                </div>
              </div>
            </div>
          </p>
          <p>
            <div class='row'>
              <div class='form-group'>
                <div class='col-md-6'>
                  <label for="contactPhone1" class='control-label'>{{_ "db.phone1"}}</label>
                  <input type="text" class='form-control contactPhone' id='contactPhone1' name="contactPhone1" value="{{phonenumber currentEntry.phone1}}" autocomplete='phone1' />
                </div>
                <div class='col-md-6'>
                  <label for="contactPhone2" class='control-label'>{{_ "db.phone2"}}</label>
                  <input type="text" class='form-control contactPhone' id='contactPhone2' name="contactPhone2" value="{{phonenumber currentEntry.phone2}}" autocomplete='phone2' />
                </div>
              </div>
            </div>
          </p>
          <p>
            <label for="contactEmail" class='control-label'>{{_ "db.email"}}</label>
            <input type="email" class='form-control' id='contactEmail' name="contactEmail" value="{{currentEntry.email}}" autocomplete='email' />
          </p>
          <p>
            <label for="contactHours" class='control-label'>{{_ "db.contactHours"}}</label>
            <input type="text" class='form-control' id='contactHours' name="contactHours" value="{{currentEntry.contactHours}}" autocomplete='contacthours' />
          </p>
          <p>
            <div class='row'>
              <div class='form-group'>
                <div class='col-md-3'>
                  <label class='control-label'><input type='checkbox' id='contactPositionActor' name='contactPositionActor' {{position 'actor'}} /> Actor</label>
                </div>
                <div class='col-md-3'>
                  <label class='control-label'><input type='checkbox' id='contactPositionTechCrew' name='contactPositionTechCrew' {{position 'techcrew'}} /> Tech Crew</label>
                </div>
                <div class='col-md-3'>
                  <label class='control-label'><input type='checkbox' id='contactPositionConstruction' name='contactPositionConstruction' {{position 'construction'}} /> Construction</label>
                </div>
                <div class='col-md-3'>
                  <label class='control-label'><input type='checkbox' id='contactPositionDesign' name='contactPositionDesign' {{position 'design'}} /> Design</label>
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='form-group'>
          <p>
            <div class='col-md-12'>
              <div id='cv'>
                  <div class='summernote' id='summernote'>{{getCV}}</div>
              </div>
            </div>
          </p>
        </div>
      </div>
    </form>
  </div>
  {{/if}}
</template>
