<template name='AddUser'>
  <div class='modal-adduser modal fade' id='modal-adduser' role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <form class='addnewuser' autocomplete='off'>
          <div class="modal-header">
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>{{_ "admin.perms.addHeader"}}</h4>
          </div>
          <div class='modal-body'>
            <label for='username' class='control-label'>{{_ "admin.perms.username"}}</label><input name='username' type='text' class='form-control' placeholder='{{_ "admin.perms.username"}}' autocomplete='nope'/><br />
            <label for='password' class='control-label'>{{_ "welcome.password"}}</label><input name='password' type='password' class='form-control' placeholder='{{_ "welcome.password"}}' autocomplete='nope'/><br />
            <label for='fullname' class='control-label'>{{_ "admin.perms.fullname"}}</label><input type='text' name='fullname' class='form-control' placeholder='{{_ "admin.perms.fullname"}}' autocomplete='nope'/><br />
            <label for='phone' class='control-label'>{{_ "admin.perms.phone"}}</label><input type="text" name='phone' class='form-control' placeholder='{{_ "admin.perms.phone"}}' autocomplete='nope'/><br />
            <label for='email' class='control-label'>{{_ "admin.perms.email"}}</label><input type="email" name='email' class='form-control' placeholder='{{_ "admin.perms.email"}}' autocomplete='nope'/><br />
            <label for='lang' class='control-label'>{{_ "admin.perms.lang.lang"}}</label><select class='form-control' name='lang'>
              <option value='en'>English</option>
              <option value='fr'>Français</option>
            </select>
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-success' id='btn-adduser-save'>{{_ "btnSave"}}</button>
            <button type='cancel' class='btn btn-default' id='btn-adduser-cancel' data-dismiss='modal'>{{_ "btnCancel"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
