<template name='DeleteUser'>
  <div class='modal-deleteuser modal fade' role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <form class='deleteuser' autocomplete='false'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>{{_ "admin.delete.header"}}</h4>
          </div>
          <div class='modal-body'>
            <p>{{_ "admin.delete.body1"}}</p>
            <h4>{{user.username}}</h4>
            <p class='delete-user-warning'><b>{{_ "admin.delete.body2"}}</b>
            <br /><b>{{_ "admin.delete.body3"}}</b></p>
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-danger' id='btn-deleteuser-apply'>{{_ "btnAccept"}}</button>
            <button type='cancel' class='btn btn-default' id='btn-deleteuser-cancel' data-dismiss='modal'>{{_ "btnCancel"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
