<template name='PermsUser'>
  <div class='modal-edituser modal fade' id='modal-permsuser' role='dialog'>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form class='permsuser' autocomplete='off'>
          <div class="modal-header">
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>{{_ "admin.perms.perms"}} ({{user.username}})</h4>
          </div>
          <div class='modal-body'>
            <div class='perms-list text-center'>
              <table class='perms-list-table'>
                <thead>
                  <tr><th class='table-section-header' colspan="6">{{_ "admin.perms.generalAccess"}}</th></tr>
                  <tr>
                    <th class='perms-name text-center'></th>
                    <th class="perms-access text-center">{{_ "admin.perms.access"}}</th>
                    <th class="perms-create text-center">{{_ "admin.perms.create"}}</th>
                    <th class="perms-edit text-center">{{_ "admin.perms.edit"}}</th>
                    <th class="perms-delete text-center">{{_ "admin.perms.delete"}}</th>
                    <th class="perms-fullaccess text-center"><i>{{_ "admin.perms.all"}}</i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>{{_ "admin.perms.boxoffice.boxoffice"}}</b></td>
                    <td><input type='checkbox' class='chkBoxOffice' name='chkBoxOfficeAccess' id='chkBoxOfficeAccess' checked='{{user.profile.permissions.boxoffice.access}}' /></td>
                    <td><input type='checkbox' class='chkBoxOffice' name='chkBoxOfficeCreate' id='chkBoxOfficeCreate' checked='{{user.profile.permissions.boxoffice.create}}' /></td>
                    <td><input type='checkbox' class='chkBoxOffice' name='chkBoxOfficeEdit' id='chkBoxOfficeEdit' checked='{{user.profile.permissions.boxoffice.edit}}' /></td>
                    <td><input type='checkbox' class='chkBoxOffice' name='chkBoxOfficeDelete' id='chkBoxOfficeDelete' checked='{{user.profile.permissions.boxoffice.delete}}' /></td>
                    <td><input type='checkbox' class='chkBoxOfficeAll' name='chkBoxOfficeAll' id='chkBoxOfficeAll' /></td>
                  </tr>
                  <tr>
                    <td><b>{{_ "admin.perms.shows.shows"}}</b></td>
                    <td><input type='checkbox' class='chkShows' name='chkShowsAccess' id='chkShowsAccess' checked='{{user.profile.permissions.shows.access}}' /></td>
                    <td><input type='checkbox' class='chkShows' name='chkShowsCreate' id='chkShowsCreate' checked='{{user.profile.permissions.shows.create}}' /></td>
                    <td><input type='checkbox' class='chkShows' name='chkShowsEdit' id='chkShowsEdit' checked='{{user.profile.permissions.shows.edit}}' /></td>
                    <td><input type='checkbox' class='chkShows' name='chkShowsDelete' id='chkShowsDelete' checked='{{user.profile.permissions.shows.delete}}' /></td>
                    <td><input type='checkbox' class='chkShowsAll' name='chkShowsAll' id='chkShowsAll' /></td>
                  </tr>
                  <tr>
                    <td><b>{{_ "admin.perms.database.database"}}</b></td>
                    <td><input type='checkbox' class='chkDatabaseAccess' name='chkDatabaseAccess' id='chkDatabaseAccess' checked='{{user.profile.permissions.database.access}}' /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><b>{{_ "admin.perms.admin"}}</b></td>
                    <td><input type='checkbox' name='chkAdmin' id='chkAdmin' checked='{{user.profile.permissions.admin}}' /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table><br />
              <table class='perms-list-table'>
                <thead>
                  <tr><th class='table-section-header' colspan="6">{{_ "admin.perms.databaseAccess"}}</th></tr>
                  <tr>
                    <th class='perms-name text-center'></th>
                    <th class="perms-access text-center">{{_ "admin.perms.access"}}</th>
                    <th class="perms-create text-center">{{_ "admin.perms.create"}}</th>
                    <th class="perms-edit text-center">{{_ "admin.perms.edit"}}</th>
                    <th class="perms-delete text-center">{{_ "admin.perms.delete"}}</th>
                    <th class="perms-fullaccess text-center"><i>{{_ "admin.perms.all"}}</i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>{{_ "admin.perms.database.customers"}}</b></td>
                    <td><input type='checkbox' class='chkCustomers' name='chkCustomersAccess' id='chkCustomersAccess' checked='{{user.profile.permissions.database.customers.access}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkCustomers' name='chkCustomersCreate' id='chkCustomersCreate' checked='{{user.profile.permissions.database.customers.create}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkCustomers' name='chkCustomersEdit' id='chkCustomersEdit' checked='{{user.profile.permissions.database.customers.edit}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkCustomers' name='chkCustomersDelete' id='chkCustomersDelete' checked='{{user.profile.permissions.database.customers.delete}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkCustomersAll' name='chkCustomersAll' id='chkCustomersAll' {{databaseAccess}} /></td>
                  </tr>
                  <tr>
                    <td><b>{{_ "admin.perms.database.volunteers"}}</b></td>
                    <td><input type='checkbox' class='chkVolunteers' name='chkVolunteersAccess' id='chkVolunteersAccess' checked='{{user.profile.permissions.database.volunteers.access}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkVolunteers' name='chkVolunteersCreate' id='chkVolunteersCreate' checked='{{user.profile.permissions.database.volunteers.create}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkVolunteers' name='chkVolunteersEdit' id='chkVolunteersEdit' checked='{{user.profile.permissions.database.volunteers.edit}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkVolunteers' name='chkVolunteersDelete' id='chkVolunteersDelete' checked='{{user.profile.permissions.database.volunteers.delete}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkVolunteersAll' name='chkVolunteersAll' id='chkVolunteersAll' {{databaseAccess}} /></td>
                  </tr>
                  <tr>
                    <td><b>{{_ "admin.perms.database.misc"}}</b></td>
                    <td><input type='checkbox' class='chkMisc' name='chkMiscAccess' id='chkMiscAccess' checked='{{user.profile.permissions.database.misc.access}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkMisc' name='chkMiscCreate' id='chkMiscCreate' checked='{{user.profile.permissions.database.misc.create}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkMisc' name='chkMiscEdit' id='chkMiscEdit' checked='{{user.profile.permissions.database.misc.edit}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkMisc' name='chkMiscDelete' id='chkMiscDelete' checked='{{user.profile.permissions.database.misc.delete}}' {{databaseAccess}} /></td>
                    <td><input type='checkbox' class='chkMiscAll' name='chkMiscAll' id='chkMiscAll' {{databaseAccess}} /></td>
                  </tr>
                  <tr>
                    <td><b>{{_ "search"}}</b></td>
                    <td><input type='checkbox' class='chkSearch' name='chkSearch' id='chkSearch' checked='{{user.profile.permissions.database.search}}' {{databaseAccess}} /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-success' id='btn-adduser-save'>{{_ "btnSave"}}</button>
            <button type='cancel' class='btn btn-default' id='btn-adduser-cancel' data-dismiss='modal'>{{_ "btnCancel"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
