<template name='ResetPassword'>
  <div class='modal-resetpassword modal fade' role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <form class='resetpassword' autocomplete='false'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>{{_ "admin.reset.header"}}</h4>
          </div>
          <div class='modal-body'>
            <p>{{_ "admin.reset.body"}}</p>
            <h4>{{user.username}}</h4>
            <hr />
            <label for='resetPassword' class='control-label'>{{_ "admin.reset.newpassword"}}</label><input name='resetPassword' type='password' class='form-control' value='' placeholder='{{_ "admin.reset.newpassword"}}' autocomplete='false' />
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-success' id='btn-resetpassword-apply'>{{_ "btnSave"}}</button>
            <button type='cancel' class='btn btn-default' id='btn-resetpassword-cancel' data-dismiss='modal'>{{_ "btnCancel"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
