<!-- User Management template for the Administration page -->
<template name='UserManagement'>
  {{> AddUser}} {{> EditUser}} {{> PermsUser}} {{> ResetPassword}} {{> DeleteUser}}
  <div class='allcontacts center-block'>
    <div class='row'>
      <div class='col-md-6'>
        <p>
          <button type='button' class='btn btn-default' id='btnReturnAdmin'>{{_ "header.admin"}}</button>
        </p>
      </div>
      <div class='col-md-6'>
        <div class='row text-right'>
          <p>
            <button type='button' class='btn btn-primary btnAddUser adduser' id='btnAddUser' name='btnAddUser' value='addUser'><i class='fa fa-plus'></i> {{_ "admin.adduser"}}</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='user-list text-center'>
    <table class='user-mgmt-table'>
      <thead>
        <tr>
          <th class='user-username text-center'>{{_ "admin.username"}}</th>
          <th class="user-fullname text-center">{{_ "admin.name"}}</th>
          <th class='user-phone text-center'>{{_ "admin.phone"}}</th>
          <th class='user-email text-center'>{{_ "admin.email"}}</th>
          <th class="user-tools text-center">{{_ "admin.tools"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each allusers}}
        <tr>
          <td>{{username}}</td>
          <td>{{profile.fullname}}</td>
          <td>{{phonenumber profile.phone}}</td>
          <td>{{profile.email}}</td>
          <td>
            <button class='btn-edit btn btn-primary btn-sm' id='{{_id}}'><i class="glyphicon glyphicon-user"></i> {{_ "btnInfo"}}</button>
            <button class='btn-rights btn btn-info btn-sm' id='{{_id}}'><i class="glyphicon glyphicon-th-list"></i> {{_ "btnRights"}}</button>
            <button class='btn-password btn btn-warning btn-sm' id={{_id}}><i class="glyphicon glyphicon-pencil"></i> {{_ "admin.btnPassword"}}</button>
            <button class='btn-delete btn btn-danger btn-sm {{#if currentUser _id}}disabled{{/if}}' id='{{_id}}'><i class="glyphicon glyphicon-remove"></i> {{_ "admin.btnDelete"}}</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>