<Template name='ForgotPassword'>
  <div class='modal-forgotpassword modal fade' role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <form class='forgotpassword' autocomplete='false'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>{{_ "welcome.forgotModal.header"}}</h4>
          </div>
          <div class='modal-body'>
            <p>{{_ "welcome.forgotModal.body1"}}</p>
            <p>{{_ "welcome.forgotModal.body2"}}</p>
            <hr />
            <h4>{{_ "welcome.forgotModal.form.fullname"}}</h4><input name='forgotPasswordFullName' type='text' class='form-control' value='' placeholder='{{_ "welcome.forgotModal.form.fullname"}}' autocomplete='false' autofocus />
            <h4>{{_ "welcome.forgotModal.form.phone"}}</h4><input name='forgotPasswordPhone' type='text' class='form-control' value='' placeholder='{{_ "welcome.forgotModal.form.phone"}}' autocomplete='false' />
            <h4>{{_ "welcome.forgotModal.form.secret"}}</h4><input name='forgotPasswordSecret' type='text' class='form-control' value='' placeholder='{{_ "welcome.forgotModal.form.secret"}}' autocomplete='false' />
            <h4>{{_ "welcome.forgotModal.form.newpassword"}}</h4><input name='forgotPasswordNewPassword' type='password' class='form-control' value='' placeholder='{{_ "welcome.forgotModal.form.newpassword"}}' autocomplete='false' />
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-success' id='btn-forgotpassword-send'>{{_ "welcome.forgotModal.form.btnSend"}}</button>
            <button type='cancel' class='btn btn-default' id='btn-forgotpassword-cancel' data-dismiss='modal'>{{_ "welcome.forgotModal.form.btnCancel"}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</Template>
