<template name='Header'>
  <header>
    <nav class='navbar navbar-default navbar-fixed-top' id='header-nav'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'><img class='cma-brand' src='/img/brand.png' /></a>
        </div>
        <ul class='nav navbar-nav'>
          <!--<li class='navAccueil {{navDashboard}}'><a href='/dashboard'>{{_ "header.dashboard"}}</a></li>
          {{#if getPerms 'Reservations'}}<li class='navReservations {{navBoxOffice}}'><a href='#'>{{_ "header.boxoffice"}}</a></li>{{/if}}-->
          {{#if getPerms 'Shows'}}<li class='navSpectacles {{navShows}}'><a href="/shows">{{_ "header.shows"}}</a></li>{{/if}}
          {{#if getPerms 'Clients'}}
            <li class='navClients {{navDatabase}}'>
              <a role='button' data-toggle='dropdown' class='dropdown-toggle' data-target='#' href='#'>{{_ "header.database"}} <span class='caret'></span></a>
              <ul class='dropdown-menu multi-level' role='menu'>
                {{#if getPerms "Customers"}}
                  <li class='dropdown-submenu'>
                    <a tabindex="-1" href='#'>{{_ "admin.perms.database.customers"}}</a>
                    <ul class='dropdown-menu'>
                      <li class='dropdown-submenu'>
                        <a href='#' tabindex='-1'>{{_ "admin.perms.database.regularTickets"}}</a>
                        <ul class='dropdown-menu'>
                          <li><a href='#'>{{_ "admin.perms.database.generalAdmission"}}</a></li>
                          <li><a href='#'>{{_ "admin.perms.database.friendsFamily"}}</a></li>
                          <li><a href='#'>{{_ "admin.perms.database.students"}}</a></li>
                          <li><a href='#'>{{_ "admin.perms.database.seniors"}}</a></li>
                        </ul>
                      </li>
                      <li class='dropdown-submenu'>
                        <a href='#' tabindex='-1'>{{_ "admin.perms.database.seasonTicketHolders"}}</a>
                        <ul class='dropdown-menu'>
                          <li><a href='#'>{{_ "admin.perms.database.consortium"}}</a></li>
                          <li><a href='#'>{{_ "admin.perms.database.rlt"}}</a></li>
                          <li><a href='#'>{{_ "admin.perms.database.rmt"}}</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                {{/if}}
                {{#if getPerms "Volunteers"}}
                  <li class='dropdown-submenu'>
                    <a tabindex="-1" href='/database/volunteers'>{{_ "admin.perms.database.volunteers"}}</a>
                    <ul class='dropdown-menu'>
                      <li><a href='/database/volunteers/actor'>{{_ "admin.perms.database.actors"}}</a></li>
                      <li><a href='/database/volunteers/techcrew'>{{_ "admin.perms.database.techCrew"}}</a></li>
                      <li><a href='/database/volunteers/construction'>{{_ "admin.perms.database.construction"}}</a></li>
                      <li><a href='/database/volunteers/prod'>{{_ "admin.perms.database.design"}}</a></li>
                    </ul>
                  </li>
                {{/if}}
                {{#if getPerms "Misc"}}
                  <li><a href='/database/misc'>{{_ "admin.perms.database.misc"}}</a></li>
                {{/if}}
                {{#if getPerms "Search"}}
                  <li class="divider"></li>
                  <li><a href='/database/search'><i class='fa fa-search'></i> {{_ "search"}}</a></li>
                {{/if}}
              </ul>
            </li>
          {{/if}}
          {{#if getPerms 'Admin'}}<li class='navAdmin {{navAdmin}}'><a href="/admin">{{_ "header.admin"}}</a></li>{{/if}}
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          <li><a><span class='glyphicon glyphicon-user'></span> {{currentUser.username}}</a></li>
          <li><a href="/logout"><span class='glyphicon glyphicon-log-out'></span> {{_ "header.logout"}}</a></li>
        </ul>
      </div>
    </nav>
  </header>
</template>
