<template name='AllShows'>
    <div class='allshows center-block'>
        <form class='searchform'>
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <button type='button' class='btn btn-default' id='btnReturnShows'>{{_ "shows.shows"}}</button>
                    </p>
                </div>
                <div class='col-md-6'>
                    <div class='row text-right'>
                        <p>
                            {{#if currentUser.profile.permissions.shows.create}}
                                <button type='button' class='btn btn-primary btnNewShow' id='btnNewShow' name='btnNewShow' value='newShow'><i class='fa fa-plus'></i> {{_ "btnNewMisc"}}</button>
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <div class='row searchbar'>
                    <p>
                        <div class='input-group'>
                            <span class='input-group-addon'><span class='glyphicon glyphicon-search'></span></span>
                            <input type='text' class='form-control' id='showSearch' name='showSearch' placeholder='Search shows... Press ESC to clear'
                                autofocus />
                            <div class='input-group-btn'>
                                <button type='submit' class='btn btn-primary' id='btnSearch' name='btnSearch'>Search</button>
                            </div>
                        </div>
                    </p>
                </div>
                <!-- Disabling Advanced Search for now
                <div class='row advancedsearch'>
                    <div class='panel panel-default'>
                        <div class='panel-heading' data-toggle="collapse" href='#advancedPanel'>
                            <a class='panel-title' data-toggle="collapse" href='#advancedPanel'><i>Advanced Search</i></a>
                        </div>
                        <div id='advancedPanel' class='panel-collapse collapse'>
                            <div class='panel-body'>
                                
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </form>

        {{#if searching}} <div>{{> spinner}}</div> {{/if}} 
        
        {{#unless foundResults}}
        <div class='background-logo'><img class='search-stamp' src='/img/rlt-stamp-1-5x.png' /></div>
        {{/unless}}

        {{#if foundResults}}
        <div class='searchResults text-center'>
            <table class='tbl-search-results'>
                <thead>
                    <tr>
                        <th class='result-name text-center tbl-responsive'>{{_ "db.contactName"}}</th>
                        <th class="result-city text-center tbl-responsive">{{_ "db.city"}}</th>
                        <th class='result-email text-center tbl-responsive'>{{_ "db.email"}}</th>
                        <th class='result-phone text-center tbl-responsive'>{{_ "db.phone1"}}</th>
                        <th class="result-type text-center tbl-responsive">Type of Contact</th>
                        <th class='result-tag text-center tbl-responsive'>Tags</th>
                        <th class='result-tools text-center tbl-responsive'>Tools</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                    <tr>
                        <td class='tbl-responsive'><a href='/database/{{dbType}}/{{entryId}}'>{{name}}</a></td>
                        <td class='tbl-responsive'>{{city}}</td>
                        <td class='tbl-responsive'>{{email}}</td>
                        <td class='tbl-responsive'>{{phonenumber phone1}}</td>
                        <td class='tbl-responsive'>{{dbType}}</td>
                        <td class='tbl-responsive'>
                            {{#if volunteerPosition.posActor}}<span class='label label-info'>Actor</span>{{/if}}
                            {{#if volunteerPosition.posTechCrew}}<span class='label label-primary'>Tech Crew</span>{{/if}}
                            {{#if volunteerPosition.posConstruction}}<span class='label label-warning'>Construction</span>{{/if}}
                            {{#if volunteerPosition.posDesign}}<span class='label label-danger'>Prod. Staff</span>{{/if}}
                            {{#if potentialItems.costumes}}<span class='label label-default'>Costumes</span>{{/if}}
                            {{#if potentialItems.props}}<span class='label label-default'>Props</span>{{/if}}
                            {{#if potentialItems.beautyProducts}}<span class='label label-default'>Beauty Products</span>{{/if}}
                            {{#if potentialItems.setPieces}}<span class='label label-default'>Set Pieces</span>{{/if}}
                            {{#if potentialItems.techEquipment}}<span class='label label-default'>Tech Equipment</span>{{/if}}
                            {{#if potentialItems.cashDonation}}<span class='label label-default'>Cash Donations</span>{{/if}}
                            {{#if potentialItems.auctionItems}}<span class='label label-default'>Auction Items</span>{{/if}}
                        </td>
                        <td>
                            <button class='btn-delete tbl-responsive btn btn-default btn-xs btnPre {{isDisabled}}' id='{{_id}}'><i class="glyphicon glyphicon-remove"></i> <span class='btn-delete' id='span{{_id}}'>{{_ "admin.btnDelete"}}</span></button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}

    </div>
</template>