<template name='NewShow'>
  {{> Poster}}
  <form class='newshow' autocomplete='false'>
    <div class='new-show-form'>
      <div class='row'>
        <div class='col-md-6'>
          <h3 id='ajouter-nouveau-spectacle'>Ajouter un nouveau spectacle</h3>
        </div>
        <div class="col-md-6 text-right">
          <button type='submit' class="btn btn-primary btnNewShowSave">Enregistrer</button>
          <button type='reset' class="btn btn-warning btnNewShowReset">Réinitialiser</button>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <img class='img-responsive img-poster' id='imgPoster' src="{{getPoster}}" alt="" height='600' width='600' />
        </div>
        <div class='col-md-6'>
          <p>
            <label for="newshowName" class="control-label">Nom du spectacle</label>
            <input type="text" class='form-control' name='newshowName' id='newshowName' placeholder='Nom du spectacle'>
          </p>
          <p>
            <label for='newshowDesc' class='control-label'>Description du spectacle</label>
            <textarea class='form-control' name='newshowDesc' id='newshowDesc' rows='3' placeholder='Description du spectacle'></textarea>
          </p>
          <p>
            <label for="newshowStars" class="control-label">Artistes vedettes</label>
            <input type="text" class='form-control' name='newshowStars' id='newshowStars' placeholder='Artistes vedettes'>
          </p>
          <p>
            <div class='row'>
              <div class='col-md-4'>
                <div class='form-group has-feedback'>
                  <label for="newshowPresaleCost" class="control-label">Coût en prévente</label>
                  <input type='text' class='form-control' name='newshowPresaleCost' id='newshowPresaleCost' />
                  <span class='fa fa-usd form-control-feedback'></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class='form-group has-feedback'>
                  <label for="newshowDoorCost" class="control-label">Coût à l'entrée</label>
                  <input type='text' class='form-control' name='newshowDoorCost' id='newshowDoorCost' />
                  <span class="fa fa-usd form-control-feedback"></span>
                </div>
              </div>
              <div class='col-md-4'>
                <div class="form-group has-feedback">
                  <label for="newshowChildrenCost" class='control-label'>Coût enfants</label>
                  <input type="text" class="form-control" name='newshowChildrenCost' id='newshowChildrenCost'>
                  <span class='fa fa-usd form-control-feedback'></span>
                </div>
              </div>
            </div>
          </p>
          <p>
            <label for='newshowInternalCost' class='control-label'><i>Coût interne (pour usage administratif)</i></label>
            <input type='text' class='form-control adminuse' name='newshowInternalCost' id='newshowInternalCost' />
          </p>
          <p>
            <label for='newshowInternalMemo' class='control-label'><i>Memo interne (pour usage administratif)</i></label>
            <textarea class='form-control adminuse' name='newshowInternalMemo' id='newshowInternalMemo'></textarea>
          </p>
          <p>
            <div class='form-group' name='newshowDates'>
              <div class='row'>
                <div class='col-md-6'>
                  <label for='newshowDates'>Représentations</label>
                </div>
                <div class='col-md-6 text-right'>
                  <button class='newshowPlusDate btn btn-success btn-xs'><i class='fa fa-plus'></i></button>
                  <button class='newshowMinusDate btn btn-danger btn-xs' {{newshowMinusDateDisabled}}><i class='fa fa-minus'></i></button>
                </div>
              </div>
              {{#each loopCount getDateNumber}}
                {{> ShowDateTime}}
              {{/each}}
            </div>
          </p>
        </div>
      </div>
    </div>
  </form>
</template>
