<template name='Poster'>
  <div class="modal-poster modal fade" id='modal-poster' role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="uploadposter">
          <div class="modal-header">
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span>&times;</span></button>
            <h4>Affiche du spectacle</h4>
          </div>
          <div class="modal-body">
            <div class='input-group'>
              <label class='input-group-btn'>

                <span class='btn btn-primary'><i class='fa fa-folder-open'></i> Choisir...</span>
                <input type='file' accept='.png,.jpg,.jpeg,.bmp,.gif' style='display: none;' />
              </label>
              <input type='text' id='imageName' value='{{imageName}}' class='form-control' readonly />
              <span class='input-group-btn'><button type='submit' id='btnPosterUpload' class='btn {{posterUploadDone 'btn'}}'><i id='iPosterUpload' class='fa {{posterUploadDone 'i'}}'></i> Transférer</button></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type='cancel' class='btn btn-default' id='btnPosterClose'>Fermer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
