<template name='ShowSingle'>
    {{#unless showForm}}
    <div>{{> spinner}}</div>
    {{/unless}} 
    {{#if showForm}}
    <!-- Poster goes here -->
    <!-- Flyer goes here -->

    <div class='showsingle center-block'>
        <form class='showform' autocomplete='off'>
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <button type='button' class='btn btn-default' id='btnReturnShows' name='btnReturnShows'>&lt; Volunteers</button>
                    </p>
                </div>
                <div class='col-md-6'>
                    <div class='row text-right'>
                        <p>
                            <button type='submit' class="btn btn-primary btnShowSaveNew btnControl {{isDisabled " save "}}" name='btnAction' value='saveNew'>{{_ "btnSaveNew"}}</button>
                            <button type='submit' class="btn btn-success btnShowSave btnControl {{isDisabled " save "}}" name='btnAction' value='save'>{{_ "btnSave"}}</button>
                            <button type='reset' class="btn btn-warning btnShowReset {{isDisabled " save "}}" name='btnReset' value='reset'>{{_ "btnReset"}}</button>
                            <button type='submit' class='btn btn-danger btnShowDelete btnPre btnControl {{isDisabled "delete"}}' name='btnDelete' value='delete'>{{_ "btnDelete"}}</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='row'>
                    <label for='imgPoster' class='control-label'>{{_ "shows.poster"}}</label>
                    <img class='img img-poster img-responsive' id='imgPoster' src="{{getPoster}}" alt="" height='550' width='550' />
                </div>
            </div>
            <div class='col-md-6'>
                <div class='row'>
                    <p>
                        <label for="showTitle" class='control-label'>{{_ "show.title"}}</label>
                        <input type="text" class='form-control' id='showTitle' name="showTitle" value="{{currentEntry.title}}" autocomplete='name'
                        />
                    </p>
                    <p>
                        <label for="showDescription" class='control-label'>{{_ "show.description"}}</label>
                        <input type="text" class='form-control' id='showDescription' name="showDescription" value="{{currentEntry.title}}" autocomplete='name'
                        />
                    </p>
                    <p>
                        <div class='row'>
                            <div class='form-group'>
                                <div class=' col-md-4'>
                                    <label for="contactHeight" class='control-label'>{{_ "db.height"}}</label>
                                    <div class='input-group'>
                                        <input type='text' class='form-control' id='contactHeightFt' name='contactHeightFt' value="{{currentEntry.heightFt}}" autocomplete='false'
                                        />
                                        <span class='input-group-addon'>{{_ "db.ft"}}</span>
                                    </div>
                                </div>
                                <div class=' col-md-4'>
                                    <label for="contactWeight" class='control-label' style="color: white;">Height</label>
                                    <div class='input-group'>
                                        <input type='text' class='form-control' id='contactHeightIn' name='contactHeightIn' value="{{currentEntry.heightIn}}" autocomplete='false'
                                        />
                                        <span class='input-group-addon'>{{_ "db.in"}}</span>
                                    </div>
                                </div>
                                <div class=' col-md-4'>
                                    <label for="contactWeight" class='control-label' style="color: white;">Height</label>
                                    <div class='input-group'>
                                        <input type='text' class='form-control' id='contactHeightIn' name='contactHeightIn' value="{{currentEntry.heightIn}}" autocomplete='false'
                                        />
                                        <span class='input-group-addon'>{{_ "db.in"}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class='row'>
                            <div class='form-group'>
                                <div class=' col-md-6'>
                                    <label for="contactAddress" class='control-label'>{{_ "db.address"}}</label>
                                    <input type="text" class='form-control' id='contactAddress' name="contactAddress" value="{{currentEntry.address1}}" autocomplete='address1'
                                    />
                                </div>
                                <div class=' col-md-6'>
                                    <label for="contactAddress2" class='control-label'>{{_ "db.address2"}}</label>
                                    <input type="text" class='form-control' id='contactAddress2' name="contactAddress2" value="{{currentEntry.address2}}" autocomplete='address2'
                                    />
                                </div>
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class='row'>
                            <div class='form-group'>
                                <div class=' col-md-6'>
                                    <label for="contactCity" class='control-label'>{{_ "db.city"}}</label>
                                    <input type="text" class='form-control' id='contactCity' name="contactCity" value="{{currentEntry.city}}" autocomplete='city'
                                    />
                                </div>
                                <div class=' col-md-3'>
                                    <label for="contactState" class='control-label'>{{_ "db.state"}}</label>
                                    <input type="text" class='form-control' id='contactState' name="contactState" value="{{currentEntry.state}}" autocomplete='state'
                                    />
                                </div>
                                <div class=' col-md-3'>
                                    <label for="contactPostalCode" class='control-label'>{{_ "db.postalCode"}}</label>
                                    <input type="text" class='form-control' id='contactPostalCode' name="contactPostalCode" value="{{currentEntry.postalCode}}"
                                        autocomplete='postalcode' />
                                </div>
                            </div>
                        </div>
                    </p>
                    <p>
                        <div class='row'>
                            <div class='form-group'>
                                <div class='col-md-6'>
                                    <label for="contactPhone1" class='control-label'>{{_ "db.phone1"}}</label>
                                    <input type="text" class='form-control contactPhone' id='contactPhone1' name="contactPhone1" value="{{phonenumber currentEntry.phone1}}"
                                        autocomplete='phone1' />
                                </div>
                                <div class='col-md-6'>
                                    <label for="contactPhone2" class='control-label'>{{_ "db.phone2"}}</label>
                                    <input type="text" class='form-control contactPhone' id='contactPhone2' name="contactPhone2" value="{{phonenumber currentEntry.phone2}}"
                                        autocomplete='phone2' />
                                </div>
                            </div>
                        </div>
                    </p>
                    <p>
                        <label for="contactEmail" class='control-label'>{{_ "db.email"}}</label>
                        <input type="email" class='form-control' id='contactEmail' name="contactEmail" value="{{currentEntry.email}}" autocomplete='email'
                        />
                    </p>
                    <p>
                        <label for="contactHours" class='control-label'>{{_ "db.contactHours"}}</label>
                        <input type="text" class='form-control' id='contactHours' name="contactHours" value="{{currentEntry.contactHours}}" autocomplete='contacthours'
                        />
                    </p>
                </div>
            </div>
        </form>
    </div>

    {{/if}}
</template>