<template name='ShowDateTime'>
  <div class='row'>
    <div class='col-md-6 datetimeline'>
      <div class='input-group dtDate' id='dtDate{{this}}'>
        <input type="text" id='newshowDate{{this}}' name='newshowDate{{this}}' class="form-control" placeholder='Date' />
        <span class='input-group-addon'>
          <span class='fa fa-calendar'></span>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class='input-group dtTime' id='dtTime{{this}}'>
        <input type="text" id='newshowTime{{this}}' name='newshowTime{{this}}' class='form-control' placeholder='Heure' />
        <span class="input-group-addon">
          <span class="fa fa-clock-o"></span>
        </span>
      </div>
    </div>
  </div>
</template>
