<template name='AdminLayout'>
  {{#if dbLoaded}}
    {{> UserManagement}}
  {{else}}
    {{> spinner}}
  {{/if}}
  <footer>
    <div class='footerinfo pull-right'>
      <a href='/changelog' target='_blank'>{{release}}</a>
    </div>
  </footer>
</template>
