<template name='LoginLayout'>
  <main class='login-layout'>
    <img class='cma-logo img-responsive' alt='Centre Multi Arts' src='/img/logo.png' />
    <div class='login-container'>
      <form id='login-form' action='action'>
        <div class='well' id='login-well'>
          <p>{{_ "welcome.username"}}: <input type='text' class='login-text form-control' id='login-username' autofocus /></p>
          <p>{{_ "welcome.password"}}: <input type='password' class='login-text form-control' id='login-password' label="Mot de passe" /></p>
          <p>
            <input type='submit' id='login-submit' class='btn btn-primary' value='{{_ "welcome.btnLogin"}}' />
          </p>
        </div>
      </form>
      {{#if invaliduser}}
        <div class='login-error'>
          {{_ "welcome.forgotMsg"}}<br />
          <a href='#' class='forgotpassword'>{{_ "welcome.forgotLink"}}</a>
        </div>
      {{/if}}
    </div>
  </main>
  <footer>
    <div class='footerinfo pull-right'>
      {{release}}
    </div>
  </footer>
</template>
